*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
.gradle/
build/
build/intermediates/dex-cache/
proguard/
*.log
.idea/
*.dex
*.hprof
*.class
bin/
gen/
out/
captures/
*/build/
.classpath
.project
.DS_Store
.idea
.run
*.iml
*.pyc
.idea/workspace.xml
.gradle
_sandbox
.settings
